@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');

body{
    background-color: #5465ff;
    margin: 0;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

/*Estilo home page*/
.data-hora{
    width: 500px;
    height: 500px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.infos{
    width: 90%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.infos p{
    margin: 0;
    font-size: 1.8em;
    color: #BFD7FF;
    text-transform: uppercase;
    font-family: "Roboto Mono", monospace;
}

#hora-atual{
    margin-top: 20px;
    font-size: 10em;
    color: #BFD7FF;
    font-weight: bold;
    font-family: "Roboto Mono", monospace;
}

.btns{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#btn-registrar-ponto, #btn-justificar-falta, #btn-relatorio{
    margin-top: 20px;
    width: 100%;
    border: 3px solid #e2fdff;
    padding: 10px;
    border-radius: 5px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
    background-color: #e2fdff;
    color: #5465ff;
    font-family: "Roboto Mono", monospace;
    font-size: 1.2em;
    text-transform: uppercase;
    cursor: pointer;
    transition: 0.3s ease-in;
}

#btn-registrar-ponto:hover, #btn-justificar-falta:hover, #btn-relatorio:hover{
    border: 3px solid #e2fdff;
    color: #e2fdff;
    background-color: #5465ff;
    transition: 0.3s ease-out;
}
/*Fim estilizacao home page*/


/*Comeco estilo para os dialogs*/
#dialog-ponto::backdrop, #dialog-justificar-falta::backdrop{
    background: rgba(0, 0, 0, 0.5);
}

#dialog-ponto, #dialog-justificar-falta{
    padding: 0;
    border: none;
    width: 600px;
    min-height: 300px;
    border-radius: 5px;
}

#btn-dialog-close, #btn-close-justificar{
    position: absolute;
    top: 0;
    right: 0;
    width: 30px;
    height: 30px;
    border: 2px solid #5465ff;
    border-top: none;
    border-right: none;
    border-radius: 0 5px 0;
    cursor: pointer;
    background-color: white;
    color: #5465ff;
    font-weight: bold;
}

#btn-dialog-close:hover, #btn-close-justificar:hover{
    background-color: #5465ff;
    color: white;
    border: 2px solid #5465ff;
    border-top: none;
    border-right: none;
}
/*Fim estilizacao dos dialogs*/

/*Comeco estilo dialog justificar falta*/
.dialog-justifica {
    padding: 50px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.dialog-justifica label{
    font-family: "Roboto Mono", monospace;
    font-size: 1em;
}

.dialog-justifica input{
    border: 2px solid #788bff;
    border-radius: 5px;
    font-family: "Roboto Mono", monospace;
    padding: 10px;
}

.dialog-justifica textarea{
    padding: 8px;
    resize: none;
    width: 96%;
    min-height: 120px;
    border: 2px solid #788bff;
    border-radius: 5px;
    font-size: 1.3em;
    color: #5465ff;
}

#btn-enviar-justificativa {
    padding: 12px;
    width: 100%;
    background-color: #788bff;
    border: none;
    border-radius: 5px;
    font-family: "Roboto Mono", monospace;
    font-size: 0.9em;
    color: white;
    font-weight: bold;
    text-transform: uppercase;
    cursor: pointer;
    transition: 0.3s ease-in;
}

#btn-enviar-justificativa:hover {
    background-color: #5465ff;
    color: white;
    transition: 0.3s ease-out;
}
/*Fim estilizacao dialog justificar falta*/

/*Comeco estilo dialog ponto*/
.dialog-infos{
    padding: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
}

.dialog-date-hour{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: "Roboto Mono", monospace;
}

.dialog-date-hour p{
    margin: 0;
}

#dialog-data{
    font-size: 1.4em;
    color: #788bff;
}

#dialog-hora{
    font-size: 3.5em;
    font-weight: bold;
    color: #5465ff;
}

.op-date{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.op-date label{
    font-family: "Roboto Mono", monospace;
    font-size: 1em;
}

.op-date input{
    width: 30%;
    font-size: 1em;
    border: 2px solid #788bff;
    border-radius: 5px;
    font-family: "Roboto Mono", monospace;
}

.select{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    gap: 5px;
}

.select select{
    padding: 8px;
    border-radius: 5px;
    border: 2px solid #788bff;
    width: 70%;
    font-family: "Roboto Mono", monospace;
    font-weight: bold;
    font-size: 1em;
    color: #788bff;
    text-transform: uppercase;
}

#btn-selecionar-ponto{
    padding: 12px;
    width: 30%;
    background-color: #788bff;
    border: none;
    border-radius: 5px;
    font-family: "Roboto Mono", monospace;
    font-size: 0.9em;
    color: white;
    font-weight: bold;
    text-transform: uppercase;
    cursor: pointer;
    transition: 0.3s ease-in;
}

#btn-selecionar-ponto:hover{
    background-color: #5465ff;
    color: white;
    transition: 0.3s ease-out;
}

#observacao{
    padding: 10px;
    resize: none;
    width: 96%;
    min-height: 120px;
    border: 2px solid #788bff;
    border-radius: 5px;
    font-size: 1.5em;
    color: #5465ff;
}

#dialog-ultimo-registro{
    display: flex;
    justify-content: center;
    font-family: "Roboto Mono", monospace;
    font-size: 0.9em;
    text-transform: uppercase;
}
/*Fim estilizacao dialog ponto*/

/*Comeco estilo alerta*/
#alerta-ponto-registrado {
    position: fixed;
    bottom: 10px;
    right: 10px;
    padding: 10px;
    background-color: green;
    color: white;
}

.hidden {
    opacity: 0;
}

.show {
    opacity: 1;
}
/*Fim estilizacao alerta*/